.merch {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;

    justify-content: center; /* centers the whole grid */
    justify-items: center;   /* centers items inside each cell */

    padding: 20px;
    
}
.merch li {
    text-align: center;
}

.merch img{
    box-shadow: 4px 4px #000000;
    width: 200px;
}


.merch-show {
    display: flex;
    gap: 30px;
    padding: 30px;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin: 50px auto;

}

.merch_show_img{
    box-shadow:  4px 4px #000000;
    width: 300px;
    border-radius: 10px;
}
.content-right {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.details-group {
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 15px;
    text-align: left;
    align-items: left;
    background-color: aliceblue;

}



header{
    background-color: purple;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background-image: url(/static/images/flowers.png);
    /*background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;*/
}
    

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 164, 228);
    min-height: 100vh;
}

.content {
    flex: 1;
}


.playwrite-br {
    font-family: "Playwrite BR", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.big_header{
    font-family: "Playwrite BR", cursive;
    text-shadow: 4px 4px #000000; 
}


.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

nav{
    background-color: rgb(209, 68, 209);
    box-shadow: 2px 2px #000000;
    padding-left: 10px;
    padding-right: 15px;
}


a{
    font-family: "Comic Neue", cursive;
    color: aliceblue;
}


h3{
    font-family: "Comic Neue";
    font-style: italic;
    color: #150012;
    position: relative;
}


h2{
    text-align: center;
    font-style: bold;
    color: #2a0114;
    font-weight: 800;
}

.copyright{
    background-color: #350019;
    color: aliceblue;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

span{
    padding: 10px;
    box-shadow: 2px 2px #000000

}

.four0four{
    display: grid;
    place-items: center;
}

.team_table{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.team_table table, td, tr{
    border: 1px solid black;
    border-radius: 3px;
    background-color: aliceblue;
    border-color: purple;
}


.team_table img{
    width: 200px;
    
}

a{
    color: black;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}