{% extends "base.html" %}
{% block title %}Evelīnas mīļāko varoņu enciklopēdija: Merch{% endblock %}
{% block content %}
<h2>Mans supervaroņu merch apkopojums!</h2>
<p></p>
<ul class="merch">
    {% for merc in merch %}
    <li>
        <a href="{{url_for('merch_show', merch_id= merc['id'])}}">
            <img class="each_image" src="{{url_for('static', filename='images/merch/'~merc['image'])}}" alt="{{merc['name']}}">
            <h3>{{merc['name']}}</h3>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}